@model IEnumerable<Midproject.Models.En.AgencyLogin>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to agency menu</h2>
<br />
<div>
    <a class="btn btn-primary btn-lg" style="width: 500px" href="/Agencyfro/AddChild">Accept Child</a>
</div>

<br />
<br />

<div>

    <a class="btn btn-primary btn-lg" style="width: 500px" href="/Agencyfro/AmAdd">Receive Money</a>
</div>
<br />
<br />

<div>

    <a class="btn btn-primary btn-lg" style="width: 500px" href="/Agencyfro/AgencyProfile">Agency Profile</a>
</div>
<br />
<br />

<div>

    <a class="btn btn-primary btn-lg" style="width: 500px" href="/Agencyfro/OrphansList">Orphans List</a>
</div>
<br />
<br />

<div>

    <a class="btn btn-primary btn-lg" style="width: 500px" href="/Agencyfro/Payments">Payments</a>
</div>
