@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gulshan 2<br />
    Road 2, House 245<br />
    <abbr title="Phone">P:</abbr>
    01784693218
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@hathbarai.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@hathbarai.com</a>
</address>