@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Hathbarai Organization</h1>
    <p class="lead">Your helping hand can save many Child</p>

</div>

<div class="row">
    <div class="col-md-4">

        <p>
            <h1>Total number of Volunteer</h1><br />
            <h3>@Session["NumberVolun1"]</h3>
        </p>

    </div>
    <div class="col-md-4">

        <h1> Total number of Orphan agency </h1><br />
        <h3>@Session["NumberAgent2"]</h3>

    </div>

</div>