@model IEnumerable<Midproject.Models.En.AdminLogin>

@{
    ViewBag.Title = "Index";
}


<div>
    Do you want to see Admin Information
    <a class="btn btn-primary" href="/Adminfro/AdminInfo">Admin information</a>
</div>

<br />
<br />

<div>
    DO you want to see every  volunteer recived how many child
    <a class="btn btn-primary" href="/Adminfro/ListofVolunteer">Volunteer recive child</a>
</div>

<br />
<br />
<div>
    DO you want to see every  Agency recived how many child
    <a class="btn btn-primary" href="/Adminfro/ListAgency">Agency recived child</a>
</div>

<br />
<br />
<div>
    DO you want to find the child what is the position now
    <a class="btn btn-primary" href="/Adminfro/userlist">Search the student</a>
</div>

<br />
<br />
<div>
    DO you want to see how many Volunteer there
    <a class="btn btn-primary" href="/Adminfro/numVolunteer">Total Volunteer</a>
</div>

<br />
<br />
<div>
    DO you want to see how many Agency  there
    <a class="btn btn-primary" href="/Adminfro/numAgent">Total Orphrange Agency</a>
</div>

<br />
<br />
<div>
    DO you want to see total money Come to user money
    <a class="btn btn-primary" href="/Adminfro/TotalUsermoney">Total User money</a>
</div>

<br />
<br />
<div>
    DO you want to see total money take to the Agency money
    <a class="btn btn-primary" href="/Adminfro/totalAgencyget">Total Agency money</a>
</div>

<br />
<br />
<div>
    DO you want to see net money
    <a class="btn btn-primary" href="/Adminfro/NetMoney">Total Net money</a>
</div>

<br />
<br />