@model Midproject.Models.En.AgencyLogin

@{
    ViewBag.Title = "maxvalue";
}

<h4> TOtal number of Agent is</h4>
<div>
    @Session["NumberAgent"];

</div>

<div>
    you you want to back
    <a class="btn btn-primary" href="/Adminfro/Index">go back</a>
</div>