@model Midproject.Models.En.VolunteerLogin

@{
    ViewBag.Title = "numVolunteer";
}

<h4> TOtal number of Volunteer is</h4>
<div>
    @Session["NumberVolun"];
    
</div>


<div>
    you you want to back
    <a class="btn btn-primary" href="/Adminfro/Index">go back</a>
</div>